

.resize-drag {
  background-color: rgb(238, 58, 34);
  opacity: 0.5;
  color: white;
  width: 120px;

  border-radius: 0px;
  padding: 0px;
  margin: 0px 0px;

  width: 10px;
  height: 24px;

  /* font-size: 20px;
  font-family: sans-serif;
  touch-action: none;
  box-sizing: border-box; */
}

.resize-container {

}

